# Python
__pycache__/
*.pyc
*.pyo
*.pyd
venv/
.env

# Ignore raw data files
data/raw/*.csv

# Allow DVC metadata files
!data/raw/*.dvc

# Allow DVC internal directory
!.dvc
!.dvc/**



# MLflow
mlruns/
mlflow.db
models/

# OS
.DS_Store
Thumbs.db

# Docker
*.log
# Docker
*.tar
# IDE
.vscode/
.idea/
