name: Deploy MLOps API to EC2

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v4

    - name: Deploy to EC2 via SSH
      uses: appleboy/ssh-action@v1.0.0
      with:
        host: ${{ secrets.EC2_HOST }}
        username: ubuntu
        key: ${{ secrets.EC2_SSH_KEY }}
        port: 22
        script: |
          echo "Connected to EC2"

          cd ~/mlops
          git pull origin main

          docker stop mlops-api || true
          docker rm mlops-api || true

          docker build -t mlops-api .

          docker run -d \
            -p 8000:8000 \
            -v /home/ubuntu/mlops/logs:/app/logs \
            --name mlops-api \
            mlops-api
